
<div class="control-group">
	<label for="street-number" class="control-label">Address</label>
	<div class="controls controls-row">
		<input type="text" class="span2" placeholder="Numéro"/>
		<select class="span3">
			<option>Rue</option>
			<option>Avenue</option>
			<option>Chemin</option>
		</select>
	</div>
	<div class="controls controls-row">
		<input type="text" class="span5" placeholder="Nom"/>
	</div>
	<div class="controls controls-row">
		<input type="text" class="span2" placeholder="Code postal"/>
		<input type="text" class="span3" placeholder="Ville"/>
	</div>
	<div class="controls controls-row">
		<input type="text" class="span1" placeholder="Immeuble"/>
		<input type="text" class="span1" placeholder="Escalier"/>
		<input type="text" class="span1" placeholder="Etage"/>
		<input type="text" class="span1" placeholder="Code"/>

	</div>
</div>