<div class="mission-description-part">
	<ng-include src="'/partials/misc/back.html'"></ng-include>
	<div ng-controller="EventController">
		<h3 class="pull-left">Evènements</h3>
		<a class="btn btn-primary btn-add pull-right" 
			ng-href="#/mission/{{mission.id}}/events/new">
			Ajouter un évènement
		</a>
		<div class="clearfix" />
		
		<table class="table table-hover">
			<tr>
				<th>Type</th>
				<th>Début</th>
				<th>Fin</th>
				<th>Véhicule</th>
				<th>Destination</th>
				<th></th>
			</tr>
			<tr>
				<td>Intervention</td>
				<td>16/04/2013 <br /> 23h05</td>
				<td>16/04/2013 <br /> 23h19</td>
				<td>UMH2</td>
				<td>1337 Avenue des Champs-Elysées <br /> 75000 Paris</td>
				<td>
					<button class="btn btn-primary" ng-click="goToNewEvent()">
						<i class="icon-pencil icon-white"></i>
					</button>
					<button class="btn btn-danger" bs-modal="'/partials/misc/deleteConfirmation.html'">
						<i class="icon-trash icon-white"></i>
					</button>
				</td>
			</tr>
		</table>
	</div>
</div>