<div class="mission-description-part">
	<div ng-controller="EventController">
		
		<div class="visible-phone">
			<button type="button" class="btn btn-primary"
				ng-click="showMenu()">
				<i class="icon-arrow-left icon-white" />
			</button>
			<div class="clearfix" ></div>
		</div>

		<h3 class="pull-left">Evènements</h3>

		<button type="button" class="btn btn-primary btn-add pull-right" 
			ng-click="goToNewEvent()">
			Ajouter un évènement
		</button>

		<div class="clearfix"></div>

		<table class="table table-hover">
			<thead>
				<tr>
					<th>Type</th>
					<th>Début</th>
					<th>Fin</th>
					<th>Véhicule</th>
					<th>Destination</th>
					<th></th>
				</tr>
			</thead>
			<tbody>	
				<tr ng-repeat="event in events">
					<td>{{event.type}}</td>
					<td>{{event.start.date}} <br /> {{event.start.time}}</td>
					<td>{{event.end.date}} <br /> {{event.end.time}}</td>
					<td>{{event.vehicle}}</td>
					<td ng-switch on="event.type">
							<span ng-switch-when="intervention">
								{{event.address.number}} {{event.address.streetType}} {{event.address.streetName}} <br />
								{{event.address.zipCode}} {{event.address.city}}
							</span>
							<span ng-switch-when="hospitalisation">
								Service de {{event.service.name}} de l'hopital {{event.service.hospital}} à {{event.service.city}}
							</span>
						</ng-switch>
					</td>
					<td>
						<button class="btn btn-primary" ng-click="goToNewEvent()">
							<i class="icon-pencil icon-white"></i>
						</button>
						<button class="btn btn-danger" bs-modal="'/partials/misc/deleteConfirmation.html'">
							<i class="icon-trash icon-white"></i>
						</button>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
</div>