<form class="form form-horizontal" ng-controller="NewEventController">
	<div class="control-group">
		<label for="type" class="control-label">Type</label>
		<div class="controls">
			<select class="input-xlarge" ng-model="destinationType">
				<option ng-repeat="type in types" value="{{type.id}}">{{type.name}}</option>
			</select>
		</div>
	</div>
	<div class="control-group">
		<label class="control-label" for="start-datepicker">Début</label>
		<div class="controls">
			<div class="input-append">
				<input  class="input-small" type="text" id="start-datepicker"
				ng-model="start.date" bs-datepicker></input>
				<button type="button" class="btn" data-toggle="datepicker">
					<i class="icon-calendar"></i>
				</button>
			</div>
			<div class="input-append">
				<input  class="input-small" type="text" data-show-meridian="false" data-template="modal" 
				ng-model="start.time" bs-timepicker></input>
				<button type="button" class="btn" data-toggle="timepicker">
					<i class="icon-time"></i>
				</button>
			</div>
		</div>
	</div>
	<div class="control-group">
		<label class="control-label" for="end-datepicker">Fin</label>
		<div class="controls">
			<div class="input-append">
				<input  class="input-small" type="text" id="end-datepicker"
				ng-model="end.date" bs-datepicker></input>
				<button type="button" class="btn" data-toggle="datepicker">
					<i class="icon-calendar"></i>
				</button>
			</div>
			<div class="input-append">
				<input  class="input-small" type="text" data-show-meridian="false" data-template="modal" 
				ng-model="end.time" bs-timepicker></input>
				<button type="button" class="btn" data-toggle="timepicker">
					<i class="icon-time"></i>
				</button>
			</div>
		</div>
	</div>
	<div class="control-group">
		<label for="type" class="control-label">Véhicule</label>
		<div class="controls">
			<select class="input-xlarge">
				<option ng-repeat="vehicle in vehicles">{{vehicle.name}}</option>
			</select>
		</div>
	</div>
	
	<h4>Destination</h4>
	<ng-include src="destination"></ng-include>

</form>