<div>
	<h1>Ajouter un nouvel évènement</h1>
	<form class="form form-horizontal" >
		<div class="control-group">
			<label for="type" class="control-label">Type</label>
			<div class="controls">
				<select class="input-xlarge" ng-model="event.type">
					<option ng-repeat="type in types" >{{type.name}}</option>
				</select>
			</div>
		</div>
		<div class="control-group">
			<label class="control-label" for="start-datepicker">Début</label>
			<div class="controls">
				<div class="input-append">
					<input  class="input-small" type="text" id="start-datepicker" data-autofocus="false"
					ng-model="event.start.date" bs-datepicker></input>
					<button type="button" class="btn" data-toggle="datepicker">
						<i class="icon-calendar"></i>
					</button>
				</div>
				<div class="input-append">
					<input  class="input-small" type="text" data-show-meridian="false" ng-model="event.start.time" bs-timepicker></input>
					<button type="button" class="btn" data-toggle="timepicker">
						<i class="icon-time"></i>
					</button>
				</div>
			</div>
		</div>
		<div class="control-group">
			<label class="control-label" for="end-datepicker">Fin</label>
			<div class="controls">
				<div class="input-append">
					<input  class="input-small" type="text" id="end-datepicker" ng-model="event.end.date" bs-datepicker></input>
					<button type="button" class="btn" data-toggle="datepicker">
						<i class="icon-calendar"></i>
					</button>
				</div>
				<div class="input-append">
					<input  class="input-small" type="text" data-show-meridian="false"  
					ng-model="event.end.time" bs-timepicker></input>
					<button type="button" class="btn" data-toggle="timepicker">
						<i class="icon-time"></i>
					</button>
				</div>
			</div>
		</div>
		<div class="control-group">
			<label for="type" class="control-label">Véhicule</label>
			<div class="controls">
				<select class="input-xlarge" ng-model="event.vehicle">
					<option ng-repeat="vehicle in vehicles">{{vehicle.name}}</option>
				</select>
			</div>
		</div>
		
		<h4>Destination</h4>
		<ng-include src="event.type|eventDestination"></ng-include>

		<div class="form-actions not-modal">
			<button class="btn" ng-click="back()">Annuler</button>
			<button class="btn btn-primary" ng-click="add()">Ajouter</button>
		</div>
	</form></div>