
<div class="control-group">
	<label for="city" class="control-label">Ville</label>
	<div class="controls">
		<select id="city" ng-model="event.service.city">
			<option>Paris</option>
			<option>Strasbourg</option>
		</select>
	</div>
</div>
<div class="control-group">
	<label for="hospital" class="control-label">Hopital</label>
	<div class="controls" ng-model="event.service.hospital">
		<select id="hospital">
			<option>Hopital 1</option>
			<option>Hopital 2</option>
		</select>
	</div>
</div>
<div class="control-group">
	<label for="service" class="control-label"ng-model="event.service.name">Service</label>
	<div class="controls">
		<select id="service">
			<option>Cardiologie</option>
			<option>Dermatologie</option>
		</select>
	</div>
</div>