/* General style
-------------------------------------------------- */

body {
	margin:0px;
}

@media (min-width: 767px) {
	body {
		padding:0px;
	}
}

html, body, div[ng-view], div.main-include, div.container-fluid, .fill-screen-height {
	-webkit-box-sizing:border-box;
	-ms-box-sizing:border-box;
	-o-box-sizing:border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	height:100%;
}

div.container-fluid {
	padding-top:41px;
}

.btn-add {
	margin-top: 10px;	
}

.no-x-scrolling {
	margin: 0 -20px;
	overflow-x:hidden;
}

.controls-row {
	margin-bottom:10px;
}

/* Input focus
-------------------------------------------------- */

#fullscreen-input-container {
	background-color: black;
	display: none;
	position:absolute;
	top:41px;
	left:0;
	right:0;
	height:100%;
	z-index:100;
}

#fullscreen-input-container>button {
	margin: 10px;
}

#fullscreen-input-container>textarea {
	font-size:40px;
	line-height: 40px;
	height:30%;
	width:100%;
	z-index:200;
}

/* Fonts
-------------------------------------------------- */
.table-activable tbody tr:active > td,
.table-activable tbody tr:active > th {
	background-color: #f5f5f5;
}

/* Fonts scaling
-------------------------------------------------- */

@media (min-width: 769px) {
	.font-large {
		font-size:18px;
	}

	.table-large td, .table-large th {
		padding:10px;
		vertical-align: middle;
	}
}


/* Bootstrap overrides
-------------------------------------------------- */

@media (max-width: 979px) {
	.navbar-fixed-top,
	.navbar-fixed-bottom {
		position: relative;
		margin-bottom: 0px;
	}
	
	div.container-fluid {
		padding-top: 0px;
	}
}

select.input-xlarge {
	width:284px;
}

/* Mission & menu
-------------------------------------------------- */

.mission-description {
	padding-right: 20px;
	background-color: white;
	overflow: auto;
	box-shadow: 0 0 5px gray;
}

.mission-name {
	left:0;
	right: 0;
	z-index: 1000;
	border-bottom:1px solid #08c;
	box-shadow: 0 0 5px gray;
	background-color: white;
}

@media (min-width: 768px) {
	.menu-button {
		position:absolute;
		padding:20px  23px;
		left:0;
	}

	.mission-description {
		padding-left: 70px;
	}
}

@media (max-width: 768px) {
	.menu-button>i {
		float:left;
	}

	.menu-button {
		padding: 10px;
		text-align:center;
	}

	.mission-description {
		padding-left: 20px;
	}
}

.menu-button:active,
.menu-button:hover {
	background-color: #f5f5f5;
}

.mission-zone {
	background-color: white;
}

.menu {
	width:250px;
	position:absolute;
}

.menu-title {
	background-color: #08c;
	color:white;
	padding-top:1px;
	padding-left:20px;
	border-bottom: 1px solid #0071ab;
}

.menu-title>h3{
	margin-bottom:9px;
}

/* Transitions
-------------------------------------------------- */

.animate, .view-enter, .view-leave {
	-webkit-transition:all linear 0.2s;
	-moz-transition:all linear 0.2s;
	-ms-transition:all linear 0.2s;
	-o-transition:all linear 0.2s;
	transition:all linear 0.2s;
}

.view-enter {
	opacity: 0;
}

.view-enter-active {
	opacity: 1;
}

.view-leave-active {
	display: none;
}

/* Bootstrap overrides
-------------------------------------------------- */

@media (max-width: 979px) {
	.navbar-fixed-top .navbar-inner,
	.navbar-fixed-bottom .navbar-inner {
		padding: 0px;
	}
}

/* Notifications
-------------------------------------------------- */
@media (max-width: 400px) {
	.notification-bar{
		width:85%;
	}
	
	#notification-zone {
		width:100%;
	}

} 

@media (min-width: 400px) {
	.notification-bar{
		width:350px;
	}
	
	#notification-zone {
		width:350px;
	}
}

.notification-bar {
	position: relative;
	z-index:1;
}

@media (max-width: 400px) {
	#notification-toggle.new {
		-webkit-transform: scale(3);
		-moz-transform: scale(3);
		-ms-transform: scale(3);
		-o-transform: scale(3);
		transform: scale(3);
	}
}

@media (min-width: 400px) {
	#notification-toggle.new {
		-webkit-transform: scale(2);
		-moz-transform: scale(2);
		-ms-transform: scale(2);
		-o-transform: scale(2);
		transform: scale(2);
	}
}

#notification-zone {
	position:absolute;
	top:-361px;
	left:0;
	overflow: hidden;
	background-color: rgb(27, 27, 27);
	height:400px;
}

#notification-zone>.notification-container {
	height:324px;
	overflow-x: hidden;
	overflow-y: auto;
}

#notification-zone>.notification-container>.notification {
	display: block;
	-webkit-box-sizing:border-box;
	-ms-box-sizing:border-box;
	-o-box-sizing:border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	width:100%;
	line-height:40px;
	padding-left:10px;
	color: rgb(153, 153, 153);
	text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.25);
	border-bottom: 1px solid rgb(153, 153, 153);
}

#notification-zone>.notification-container>a.notification:hover {
	color: rgb(255, 255, 255);
	background-color: transparent;
	text-decoration: none;
	background-color: rgb(153, 153, 153);
}

#notification-zone>.swipe {
	height:30px;
	width: 100%;
	text-align: center;
	background-image: linear-gradient(to bottom, #4e4e4e, black)
}

.notification.hide {
	display:none!important;
}

.notification-controls {
	border-bottom: 1px solid rgb(153, 153, 153);
	padding-bottom:5px;
}

.notification-controls>button:last-child {
	float:right;
}

.command-item {
	margin-bottom:20px;
	border-bottom: 2px solid black;
}

.command-item>p {
	font-size:15px;
}

.top-bar-background {
	background-color: #1b1b1b;
	background-image: -moz-linear-gradient(top, #222222, #111111);
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#222222), to(#111111));
	background-image: -webkit-linear-gradient(top, #222222, #111111);
	background-image: -o-linear-gradient(top, #222222, #111111);
	background-image: linear-gradient(to bottom, #222222, #111111);
	background-repeat: repeat-x;
	border-color: #252525;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff222222', endColorstr='#ff111111', GradientType=0);
}

/* Launcher (hidden)
-------------------------------------------------- */
.application-starter {
	text-align:center;
}

.application-starter>h1 {
	font-size: 120px;
	letter-spacing: -2px;
	line-height: 1;
}

.application-starter>p {
	font-size: 40px;
	font-weight: 200;
	line-height: 1.25;
}

.application-starter>.btn {
	border: 0 none;
	border-radius: 6px 6px 6px 6px;
	box-shadow: 0 1px 0 rgba(255, 255, 255, 0.1) inset, 0 1px 5px rgba(0, 0, 0, 0.25);
	color: #FFFFFF;
	font-size: 24px;
	font-weight: 200;
	padding: 19px 24px;
}

/* Offline alert
-------------------------------------------------- */
.top-alert {
	margin: 0px -20px;
}

/* Lightbox
-------------------------------------------------- */
#overlay {	
	display:none;
	position:fixed;
	height:100%;
	width:100%;
	top:0;
	left:0;
	background-color:black;
	opacity:0.5;
	z-index:1050;
}

#lightBox {
	display:none;
	position:fixed;
	padding:5px;
	top:50%;
	left:50%;
	margin:-150px 0 0 -150px;
	z-index: 1052;
	background-color: white;
}

#lightBox>img {
	max-height: 500px;
}

/* Sidenav
-------------------------------------------------- */

.bs-docs-sidenav {
	width: inherit;
	padding: 0;
	background-color: #fff;
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	border-radius: 6px;
	-webkit-box-shadow: 0 1px 4px rgba(0,0,0,.065);
	-moz-box-shadow: 0 1px 4px rgba(0,0,0,.065);
	box-shadow: 0 1px 4px rgba(0,0,0,.065);
}
.bs-docs-sidenav > li > a {
	font-size:16px;
	display: block;
	margin: 0 0 -1px;
	padding: 16px 14px;
	border: 1px solid #e5e5e5;
}

.bs-docs-sidenav > .active > a {
	padding: 17px 15px;
	border: 0;
	text-shadow: 0 1px 0 rgba(0,0,0,.15);
	-webkit-box-shadow: inset 1px 0 0 rgba(0,0,0,.1), inset -1px 0 0 rgba(0,0,0,.1);
	-moz-box-shadow: inset 1px 0 0 rgba(0,0,0,.1), inset -1px 0 0 rgba(0,0,0,.1);
	box-shadow: inset 1px 0 0 rgba(0,0,0,.1), inset -1px 0 0 rgba(0,0,0,.1);
}
/* Chevrons */
.bs-docs-sidenav .icon-chevron-right {
	float: right;
	margin-top: 2px;
	margin-right: -6px;
	opacity: .25;
}
.bs-docs-sidenav > li > a:hover {
	background-color: #f5f5f5;
}
.bs-docs-sidenav a:hover .icon-chevron-right {
	opacity: .5;
}
.bs-docs-sidenav .active .icon-chevron-right,
.bs-docs-sidenav .active a:hover .icon-chevron-right {
	background-image: url(../img/glyphicons-halflings-white.png);
	opacity: 1;
}
.bs-docs-sidenav.affix {
	top: 40px;
}
.bs-docs-sidenav.affix-bottom {
	position: absolute;
	top: auto;
	bottom: 270px;
}

/* Gestures demo
-------------------------------------------------- */

.gestured {
	float:left;
	width:50px;
	height:50px;
	background-color: black;
	color:white;
}

#swipe-me.swipe-left {
	-webkit-transform: translate(-300px);
	-moz-transform: translate(-300px);
	-ms-transform: translate(-300px);
	-o-transform: translate(-300px);
	transform: translate(-300px);
	opacity: 0;
}


#swipe-me.swipe-right {
	-webkit-transform: translate(300px);
	-moz-transform: translate(300px);
	-ms-transform: translate(300px);
	-o-transform: translate(300px);
	transform: translate(300px);
	opacity: 0;
}

#drag-me {
	z-index: 1000;
}

#drag-me-2 {
	margin-left:200px;
	margin-top:50px;
}

#threshold {
	float:left;	
	margin-left:50px;
	height:50px;
	width:20px;
	background-color: violet;
}

#threshold2 {
	margin-top:80px;
	margin-left:200px;
	height:20px;
	width:50px;
	background-color: violet;
}

#target {
	float:left;
	margin-left:80px;
	height:50px;
	width:50px;
	background-color: red;
}

#hold-me.hold {
	background-color: red;
}

/* Cube demo
-------------------------------------------------- */

.cube-container {
	margin:40px;
	width: 200px;
	height: 200px;
	position: relative;
	perspective: 1000px;
}

#cube {
	width: 100%;
	height: 100%;
	position: absolute;
	transform-style: preserve-3d;
	transform: translateZ( -100px );
	-webkit-transform: translateZ( -100px );
	-webkit-transform-style: preserve-3d;
}

#cube figure {
	width: 196px;
	height: 196px;
	display: block;
	position: absolute;
	border: 2px solid black;
}

#cube .front  { 
	transform: rotateY(   0deg ) translateZ( 100px ); 
	-webkit-transform: rotateY(   0deg ) translateZ( 100px ); 
	background-color: black;
}

#cube .back   { 
	transform: rotateX( 180deg ) translateZ( 100px ); 	
	-webkit-transform: rotateX( 180deg ) translateZ( 100px ); 
	background-color: white;
}
#cube .right  { 
	transform: rotateY(  90deg ) translateZ( 100px );
	-webkit-transform: rotateY(  90deg ) translateZ( 100px );
	background-color: red;
}

#cube .left   { 
	transform: rotateY( -90deg ) translateZ( 100px ); 
	-webkit-transform: rotateY( -90deg ) translateZ( 100px ); 
	background-color: blue;
}

#cube .top    { 
	transform: rotateX(  90deg ) translateZ( 100px ); 
	-webkit-transform: rotateX(  90deg ) translateZ( 100px ); 
	background-color: violet;
}

#cube .bottom { 
	transform: rotateX( -90deg ) translateZ( 100px ); 
	-webkit-transform: rotateX( -90deg ) translateZ( 100px ); 
	background-color: yellow;
}

#cube { 
	transition: transform 1s;
	-webkit-transition: -webkit-transform 1s;
}

