<div>
	<h4>Ajouter une nouvelle mission</h4>
	<form novalidate name="form">
		<div class="alert fade" ng-repeat="alert in alerts" bs-alert="alert"></div>
		<div class="control-group">
			<label for="vehicle" class="control-label">Véhicule</label>
			<div class="controls">
				<select ng-model="mission.vehicle" required>
					<option ng-repeat="vehicle in vehicles" value="{{vehicle.name}}">
						{{vehicle.name}}
					</option>
				</select>
			</div>
		</div>

		<div class="control-group">
			<label for="vehicle" class="control-label">Responsable</label>
			<div class="controls">
				<select ng-model="mission.responsible" required>
					<option ng-repeat="responsible in responsibles" >
						{{responsible.lastname}} {{responsible.firstname}}
					</option>
				</select>
			</div>
		</div>

		<div class="control-group">
			<label class="control-label" for="password">Mot de passe</label>
			<div class="controls">
				<input type="password" id="password" ng-model="password" class="input-normal" required/>
			</div>
		</div>

		<div class="form-actions">
			<button class="btn" hm-tap="back()">Annuler</button>
			<button class="btn btn-primary" hm-tap="add()" ng-disabled="form.$invalid">Ajouter</button>
		</div>
	</form>
</div>
