<div>
	<h1>Ajouter une personne</h1>
	<div class="alert fade" ng-repeat="alert in alerts" bs-alert="alert"></div>
	<form class="form form-horizontal" novalidate name="form">
		<div class="control-group">
			<label for="" class="control-label">Fonction</label>
			<div class="controls">
				<select ng-model="search.function" class="input-xlarge">
					<option ng-repeat="function in functions" value="{{function.id}}">{{function.name}}</option>
				</select>
			</div>
		</div>
		<div class="control-group">
			<label for="" class="control-label">Resource*</label>
			<div class="controls">
				<select class="input-xlarge" ng-model="staff.id" required>
					<option ng-repeat="person in persons  | filter:search" value="{{person.id}}">
						{{person.lastname}} {{person.firstname}}
					</option>
				</select>
			</div>
		</div>
		<div class="control-group">
			<label class="control-label" for="datepicker">Jour*</label>
			<div class="controls">
				<div class="input-append">
					<input  class="input-normal" type="text" id="datepicker"
							ng-model="staff.time.date" bs-datepicker required></input>
					<button type="button" class="btn" data-toggle="datepicker">
						<i class="icon-calendar"></i>
					</button>
				</div>
			</div>
		</div>
		<div class="control-group">
			<label class="control-label" for="timepicker">Heure*</label>
			<div class="controls">
				<div class="input-append">
					<input  class="input-normal" type="text" id="timepicker" data-show-meridian="false" data-template="modal" 
							ng-model="staff.time.time" bs-timepicker required></input>
					<button type="button" class="btn" data-toggle="timepicker">
						<i class="icon-time"></i>
					</button>
				</div>
			</div>
		</div>
		<div class="form-actions">
			<button class="btn" ng-click="back()">Annuler</button>
			<button class="btn btn-primary" ng-disabled="form.$invalid" ng-click="add()">Ajouter</button>
		</div>
	</form>
</div>