<div class="mission-description-part">
	<ng-include src="'/partials/misc/back.html'"></ng-include>
	<div ng-controller="StaffController">
		<h3 class="pull-left">Personnel</h3>

		<a class="btn btn-primary btn-add pull-right" 
			ng-href="#/mission/{{mission.id}}/staff/new">
			Ajouter une personne
		</a>

		<div class="clearfix" />

		<table class="table table-hover">
			<tr>
				<td>Ballouz Michel</td>
				<td>Médecin</td>
				<td>13h37</td>
				<td>
					<button class="btn btn-danger" bs-modal="'/partials/misc/deleteConfirmation.html'">
						<i class="icon-trash icon-white"></i>
					</button>				
				</td>
			</tr>
			<tr>
				<td>Maller Jean-Pierre</td>
				<td>Ambulancier</td>
				<td>13h37</td>
				<td>
					<button class="btn btn-danger" bs-modal="'/partials/misc/deleteConfirmation.html'">
						<i class="icon-trash icon-white"></i>
					</button>
				</td>
			</tr>
		</table>
	</div>
</div>