<div class="mission-description-part">
	<div ng-controller="StaffController">
		<div class="visible-phone">
			<button type="button" class="btn btn-primary"
				ng-click="showMenu()">
				<i class="icon-arrow-left icon-white" />
			</button>
			<div class="clearfix" ></div>
		</div>

		<h3 class="pull-left">Personnel</h3>

		<button type="button" class="btn btn-primary btn-add pull-right" 
			ng-click="goToNewStaff()">
			Ajouter une personne
		</button>

		<div class="clearfix" />
		
		<div class="alert fade" ng-repeat="alert in alerts" bs-alert="alert"></div>
		
		<table class="table table-hover">
			<tr ng-repeat="person in staff">
				<td>{{person.lastname}} {{person.firstname}}</td>
				<td>{{functions[person.function.id]}}</td>
				<td>{{person.time}}</td>
				<td>
					<button class="btn btn-danger" ng-click="deleteModal(person.id)">
						<i class="icon-trash icon-white"></i>
					</button>				
				</td>
			</tr>
		</table>
	</div>
</div>