<div class="mission-description-part">
	<div ng-controller="StaffController">
		<h2 class="pull-left">Personnel</h2>

		<a class="btn btn-primary btn-large btn-add pull-right" 
			hm-tap="goToNewStaff()">
			Ajouter une personne
		</a>

		<div class="clearfix" />
		
		<div class="alert fade" ng-repeat="alert in alerts" bs-alert="alert"></div>
		
		<table class="table table-hover table-clickable font-large table-large">
			<tr ng-hide="staff.length">
				<td colspan="4">Aucun personnel</td>
			</tr>

			<tr ng-repeat="person in staff">
				<td>{{person.lastname}} {{person.firstname}}</td>
				<td>{{functions[person.function.id]}}</td>
				<td>{{person.time.time}}</td>
				<td>
					<button class="btn btn-danger btn-large pull-right" hm-tap="deleteModal(person)">
						<i class="icon-trash icon-white"></i>
					</button>				
				</td>
			</tr>
		</table>
	</div>
</div>
