<div class="mission-description-part">
	<form class="form form-horizontal " ng-controller="UpdateMissionController">
		<h3>Mission {{mission.id}}</h3>

		<div class="alert fade" ng-repeat="alert in alerts" bs-alert="alert"></div>

		<div class="control-group">
			<label for="reason" class="control-label">Raison</label>
			<div class="controls">
				<input type="text" ng-model="mission.reason" id="reason" class="input-xlarge" />
			</div>
		</div>
		<div class="control-group">
			<label for="type" class="control-label">Type</label>
			<div class="controls">
				<select ng-model="mission.type"class="input-xlarge">
					<option>Primaire</option>
					<option>Secondaire</option>
					<option>Jonction</option>
				</select>
			</div>
		</div>
		
		<h3>Appelant</h3>
		<div class="control-group">
			<label for="lastname" class="control-label">Nom</label>
			<div class="controls">
				<input type="text" ng-model="mission.caller.firstname" id="lastname"class="input-xlarge" />
			</div>
		</div>
		<div class="control-group">
			<label for="firstname" class="control-label">Prénom</label>
			<div class="controls">
				<input type="text" ng-model="mission.caller.lastname" id="firstname" class="input-xlarge"/>
			</div>
		</div>
		<div class="control-group">
			<label for="phone" class="control-label">Numéro de téléphone</label>
			<div class="controls">
				<input type="text" id="phone" ng-model="mission.caller.phone" class="input-xlarge" />
			</div>
		</div>

		<h3>Observation</h3>

		<textarea rows="5" ng-model="mission.observation" class="input-xxlarge"></textarea>
		<div class="control-group">
			<label for="lastname" class="control-label">Ajouter une photo</label>
			<div class="controls">
				<input type="file" accept="image/*" capture="camera" 
					ng-model="image" ng-files>
				<ul class="thumbnails">
					<li class="span2">
						<thumbnail src="{{imageUrl}}" />
					</li>
				</ul>
			</div>
		</div>
		<div class="form-actions">
			<button class="btn btn-primary btn-large" hm-tap="save()">Sauvegarder</button>
		</div>
	</form>
</div>
