
<div ng-controller="PersonalController">
	<h3 class="pull-left">Personel</h3>

	<button type="button" class="btn btn-primary btn-add pull-right" 
	bs-modal="'partials/mission/personalForm.html'">
	Ajouter une personne
</button>

<div class="clearfix" />

<table class="table table-hover">
	<tr>
		<td>Ballouz Michel</td>
		<td>Médecin</td>
		<td>13h37</td>
		<td>
			<button class="btn btn-danger">
				<i class="icon-trash icon-white"></i>
			</button>				
		</td>
	</tr>
	<tr>
		<td>Maller Jean-Pierre</td>
		<td>Ambulancier</td>
		<td>13h37</td>
		<td>
			<button class="btn btn-danger">
				<i class="icon-trash icon-white"></i>
			</button>
		</td>
	</tr>
</table>
</div>