<div>
	<div class="menu">
		<div class="menu-title">
			<h4>Menu</h4>
		</div>
		<ul class="nav nav-list bs-docs-sidenav">
			<li ng-repeat="menuItem in menuItems" ng-class="{active: includeUrlIs(menuItem.templateUrl)}">
				<a ng-tap="navigate(menuItem.id)">
					<i class="icon-chevron-right"></i>
					{{menuItem.name}}
				</a>
			</li>
       </ul>
   	</div>
	<div class="mission-main mission-name affix" ng-class="{true:'move', false:''}[menu]" >
		<div class="menu-button" ng-tap="toggleLeftMenu()">
		    <i ng-class="{true:'icon-arrow-right', false:'icon-arrow-left'}[menu]"></i>
		</div>
		<h4> Mission {{mission.id}} </h4>
	</div>
	<div class="mission-main mission-description" ng-class="{true:'move', false:''}[menu]" ng-show="renderPage()">
		<div ng-include="includedUrl">
		</div>
	</div>
	</div>
</div>
