<div class="no-x-scrolling fill-screen-height">
	<div class="menu">
		<div class="menu-title">
			<h3>Menu</h3>
		</div>
		<ul class="nav nav-list bs-docs-sidenav">
			<li ng-repeat="menuItem in menuItems" ng-class="{active: includeUrlIs(menuItem.templateUrl)}">
				<a hm-tap="navigate(menuItem.id)">
					<i class="icon-chevron-right"></i>
					{{menuItem.name}}
				</a>
			</li>
		</ul>
	</div>
	<div class="mission-zone fill-screen-height" >
		<div class="mission-description fill-screen-height" >
			<div class="menu-button" hm-tap="toggleMenu()">
				<i ng-class="{true:'icon-arrow-right', false:'icon-arrow-left'}[menu]"></i>
				<span class="visible-phone">Accéder au menu</span>
			</div>
			<div ng-include="includedUrl">
			</div>
		</div>
		<ng-drag switch="menu" bound="250" prevent-default="true"></ng-drag>
	</div>
</div>
