<div>	
	<h4>Delete</h4>
	<button type="button" ng-click="deleteMission()">Delete mission store</button> <br />
	<button type="button" ng-click="deleteStaff()">Delete staff store</button> <br />
	<button type="button" ng-click="deleteEvent()">Delete event store</button> <br />
	<h4>Clear</h4>
	<button type="button" ng-click="clearMission()">Clear mission store</button> <br />
	<button type="button" ng-click="clearStaff()">Clear staff store</button> <br />
	<button type="button" ng-click="clearEvent()">Clear event store</button> <br />
	<h4>Populate</h4>
	<button type="button" ng-click="populateStaff()">Populate staff store</button> <br />
</div>