<div>	
	<div class="alert fade" ng-repeat="alert in alerts" bs-alert="alert"></div>
	<h4>Clear</h4>
	<button type="button" ng-click="clearMission()">Clear mission store</button> <br />
	<button type="button" ng-click="clearStaff()">Clear staff store</button> <br />
	<button type="button" ng-click="clearEvent()">Clear event store</button> <br />
	<button type="button" ng-click="clearVehicle()">Clear vehicle store</button> <br />
	<h4>Populate</h4>
	<button type="button" ng-click="populateStaff()">Populate staff store</button> <br />
	<button type="button" ng-click="populateVehicle()">Populate vehicle store</button> <br />
</div>