<div>	
	<div class="alert fade" ng-repeat="alert in alerts" bs-alert="alert"></div>
	<h4>Clear</h4>
	<button type="button" ng-tap="clearMission()">Clear mission store</button> <br />
	<button type="button" ng-tap="clearStaff()">Clear staff store</button> <br />
	<button type="button" ng-tap="clearEvent()">Clear event store</button> <br />
	<button type="button" ng-tap="clearVehicle()">Clear vehicle store</button> <br />
	<h4>Populate</h4>
	<button type="button" ng-tap="populateStaff()">Populate staff store</button> <br />
	<button type="button" ng-tap="populateVehicle()">Populate vehicle store</button> <br />
</div>
