<div ng-controller="NotificationController">
	<div class="notification-bar pull-left navbar-inner">
		<a class="brand" href="#">Angular Mobile</a>
		<ul class="nav pull-right">
			<li class="dropdown">
				<a id="notification-toggle" class="dropdown-toggle animate" 
				hm-tap="toggleNotifcations()"
				ng-class="{'true':'new', 'false':''}[change]">
			   		<ng-pluralize count="nb" class="hidden-phone"
							when="{'0': '0 notification',
							    'one': '1 notification',
							    'other': '{} notifications'}">
					</ng-pluralize>
					<span>
						<span class="visible-phone">
							{{nb}}
						</span>
					</span>
					<b class="caret"></b>
				</a>
			</li>
		</ul>
	</div>
	<div id="notification-zone" 
		ng-class="{'true':'visible', 'false':''}[notificationsVisible]">
		<div class="notification-controls">
			<button class="btn btn-inverse" hm-tap="goToDetails()">
				Historique
			</button>
			<button class="btn btn-inverse" hm-tap="clear()">
				Tout cacher
			</button>
		</div>
		<div class="notification-container">
			<a ng-repeat="notification in commands" 
				class="notification"
				hm-tap="goToNotification(notification)"
				ng-class="{'hide':hideArray[$index]}">
				<span ng-show="notification.data.type == 'update'">
					La mission #{{notification.data.id}} a été mise à jour.
				</span>
				<span ng-show="notification.data.type == 'delete'">
					La mission #{{notification.data.id}} a été supprimée.
				</span>
				<ng-drag
					on-threshold="hide(notification, $index)" 
					bound="350"
					axis="x"
					prevent-default="true">
				</ng-drag>
			</a>
		</div>
		
		<div class="swipe">
			<i class="icon-align-justify"></i>
		</div>
		<ng-drag 
			switch="notificationsVisible" 
			bound="400"
			axis="y"
			bounded="true"
			prevent-default="true">
		</ng-drag>
	</div>
</div>
