<div class="modal-header">
	<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
	<h3>Ajouter un véhicule</h3>
</div>
<div class="modal-body">
	<form class="form form-horizontal">
		<div class="control-group">
			<label for="" class="control-label">Type</label>
			<div class="controls">
				<select ng-model="search.type" class="input-xlarge">
					<option ng-repeat="type in types" value="{{type.id}}">{{type.name}}</option>
				</select>
			</div>
		</div>
		<div class="control-group">
			<label for="" class="control-label">Resource</label>
			<div class="controls">
				<select class="input-xlarge">
					<option ng-repeat="vehicle in vehicles  | filter:search">
						{{vehicle.name}}
					</option>
				</select>
			</div>
		</div>
	</form>
</div>
<div class="modal-footer">
	<button class="btn" ng-tap="dismiss()">Annuler</button>
	<button class="btn btn-primary" ng-tap="dismiss()">Ajouter</button>
</div>
