<div>
	<h1>Ajouter un véhicule</h1>
	<form class="form form-horizontal">
		<div class="control-group">
			<label for="" class="control-label">Type</label>
			<div class="controls">
				<select ng-model="search.type" class="input-xlarge">
					<option ng-repeat="type in types" value="{{type.id}}">{{type.name}}</option>
				</select>
			</div>
		</div>
		<div class="control-group">
			<label for="type-autocomplete" class="control-label">Type autocomplete</label>
			<div class="controls">
				<input type="text"  class="input-xlarge" id="type-autocomplete" ng-model="searchName" bs-typeahead="typeNames" />
			</div>
		</div>
		<div class="control-group">
			<label for="" class="control-label">Resource</label>
			<div class="controls">
				<select class="input-xlarge">
					<option ng-repeat="vehicle in vehicles  | filter:search">
						{{vehicle.name}}
					</option>
				</select>
			</div>
		</div>
		<div class="control-group">
			<label for="" class="control-label">Resource</label>
			<div class="controls">
				<select class="input-xlarge">
					<option ng-repeat="vehicle in vehicles  | filter:search">
						{{vehicle.name}}
					</option>
				</select>
			</div>
		</div>
		<div class="form-actions">
			<button class="btn" ng-click="back()">Annuler</button>
			<button class="btn btn-primary" ng-click="add()">Ajouter</button>
		</div>
	</form>
</div>